.metrics-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

textarea,
.metrics-container {
    display: flex;
    width: 35%;
    height: 90%;
    padding: 20px;
    background-color: var(--accent-background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.metrics-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

textarea {
    font-size: 1.1rem;
    font-family: "Times New Roman", serif;
    color: var(--text-color);
    resize: none;
    overflow: auto;
    transition: box-shadow 0.3s ease;
}

textarea:focus,
textarea:active {
    border: 1px solid var(--border-color-focused);
    box-shadow: 0px 0px 2px 3px var(--box-shadow-focused);
}

textarea::-webkit-scrollbar {
    width: 15px;
}

textarea::-webkit-scrollbar-track {
    background: var(--accent-background-color);
}

textarea::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 5px;
}

.metrics {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.metrics {
    width: 29vw;
}

.dropdown,
.dropdown-button, 
.dropdown-content,
.dropdown-button-label {
    width: 30vw;
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--accent-background-color);
    border: 1px solid var(--border-color);
    transition: box-shadow 0.3s ease;
    box-shadow: none;
}

.dropdown-button:hover {
    background: var(--accent-background-color);
}

.dropdown-button:focus {
    background: var(--accent-background-color);
    border: 1px solid var(--border-color-focused);
    box-shadow: 0 0 2px 3px var(--box-shadow-focused);
}

.dropdown-button-label {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 200;
    cursor: inherit;
}

.dropdown-button-chevron {
    fill: var(--text-color);
    width: 1rem;
    height: 1rem;
    transition: transform 0.3s ease;
}

.dropdown-button-chevron.rotated {
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--accent-background-color);
    box-shadow: var(--shadow);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content.open {
    display: flex;
    flex-direction: column;
}

.dropdown-content label {
    padding: 10px;
    cursor: pointer;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 10px;
}

.dropdown-content label:hover {
    background-color: var(--hover-color);
}

.metric {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
}

.metric-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-button {
    display: flex;
    background: inherit;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: none;
    padding: 4px;
}

.info-button:hover {
    background: var(--hover-color);
}

.info-button:active {
    background: none;
}

.info-icon {
    width: .95rem;
    height: .95rem;
    fill: var(--text-color);
}
