.metrics-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

textarea,
.metrics-container,
.metrics,
.dropdown,
.dropdown-button,
.dropdown-content,
.dropdown-button-label {
    width: 35vw;
}

textarea,
.metrics-container {
    display: flex;
    height: 80%;
    padding: 20px;
    background-color: var(--accent-background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.metrics-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

textarea {
    font-size: 1.1rem;
    font-family: "Times New Roman", serif;
    color: var(--text-color);
    resize: none;
    overflow: auto;
    transition: box-shadow 0.3s ease;
}

textarea:focus,
textarea:active {
    border: 1px solid var(--border-color-focused);
    box-shadow: 0px 0px 2px 3px var(--box-shadow-focused);
}

textarea::-webkit-scrollbar {
    width: 15px;
}

textarea::-webkit-scrollbar-track {
    cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 7.5px;
    box-shadow: var(--button-shadow);
    background: linear-gradient(0deg,
            var(--button-background-color-1) 0%,
            var(--button-background-color-2) 100%);
}

textarea::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg,
            var(--button-background-color-2) 0%,
            var(--button-background-color-1) 100%);
}

textarea::-webkit-scrollbar-thumb:active {
    background: var(--button-background-color-2);
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--accent-background-color);
    border: 1px solid var(--border-color);
    transition: box-shadow 0.3s ease;
    box-shadow: none;

    &:hover {
        background: var(--accent-background-color);
    }

    &:focus {
        background: var(--accent-background-color);
        border: 1px solid var(--border-color-focused);
        box-shadow: 0 0 2px 3px var(--box-shadow-focused);
    }
}

.dropdown-button-label {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 200;
    cursor: inherit;
}

.dropdown-button-chevron {
    fill: var(--text-color);
    width: 1rem;
    height: 1rem;
    transition: transform 0.3s ease;
}

.dropdown-button-chevron.rotated {
    transform: rotate(180deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--accent-background-color);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content.open {
    display: flex;
    flex-direction: column;
}

.dropdown-content label {
    padding: 10px;
    cursor: pointer;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 10px;
}

.dropdown-content label:hover {
    background-color: var(--hover-color);
}

.metrics {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height: 80%;
    width: 100%;
    overflow: auto;
}

.metric {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    width: 95%;
}

.metric-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-button {
    display: flex;
    background: inherit;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: none;
    padding: 4px;

    &:hover {
        background: var(--hover-color);
    }

    &:active {
        background: none;
    }
}

.info-icon {
    width: .95rem;
    height: .95rem;
    fill: var(--text-color);
}

.download-button {
    width: 50%;
}